*,
*:before,
*:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    min-width: 320px;
    font-family: $font-base;
    font-size: $fontSize-base;
    line-height: $lineHeight-base;
    color: $color-bodyText;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;  // for footer at bottom
}
.siteContent {
    flex: 1 0 auto;
}
a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
        color: $color-secondary;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
h1 {
    margin: 0 0 20px;
    font-size: $fontSize-largest;
    line-height: $lineHeight-stightest;
}
h2 {
    margin: 0 0 16px;
    font-size: $fontSize-larger;
    line-height: $lineHeight-tightest;
}
h3 {
    margin: 0 0 14px;
    font-size: $fontSize-large;
    line-height: $lineHeight-tighter;
}
blockquote {
    margin: 1em 0;
    padding-left: 20px;
    border: 1px solid $color-primary;
    border-width: 0 0 0 2px;
    &:last-child {
        margin-bottom: 0;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
embed,
iframe,
object,
video {
    max-width: 100%;
    vertical-align: middle;
}
